@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* background-color: hsl(215, 74%, 8%); */

}

h1{
        font-family: "Helvetica", sans-serif;
}

.container{
    display: flex;

}

main{
    width: 100%;
}


.sidebar{
    font-family: Helvitica;
    background-color: black;
    height: 100%;

    color: white;
    width: 300px;

}

.top_section{
    display: flex;
    align-items: center;
    padding: 20px 15px;
    gap: 10px;

}
.logo{
    font-size: 25px;

}


.bars{
    display: flex;
    /* flex-direction: row; */
    font-size: 25px;
    margin-left: 30px;
}

.link{
    display: flex;
    color: white;
    padding: 10px 15px;
    gap: 15px;

    transition: all 0.5s;


}

.link:hover{
    background-color: hsl(214, 100%, 27%);
    
    transition: all 0.5s;
}

.active{
    background: hsl(214, 100%, 27%);

}

/* .icons, .link_text{
    font-size: 30px;
} */


